$main-color: #1C1C1C;
$main-color-2: #E27866;
$main-color-3: #6696E2;
$text-color: #FFFFFF;
$text-color-2: #333333;
$text-color-3: #86878B;
$form-color: #F5F5F5;
$form-color-2: #D8D8D8;
$form-color-3: #41D395;